.container {
    display: flex;
}

.grid div {
    width: 40px;
    height: 40px;
}

.grid-user {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: lightblue;
    margin: 20px;
}

.grid-computer {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: lightslategray;
    margin: 20px;
}

.grid-display {
    width: 720px;
    height: 200px;
    margin: 20px;
    background-color: lightblue;
    display: flex;
}

.first-airplane-container{
    width: 200px;
    height: 160px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    background-color:transparent;
}

.second-airplane-container{
    width: 200px;
    height: 160px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.third-airplane-container{
    width: 200px;
    height: 160px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.head div{
    width: 40px;
    height: 40px;
}

.head{
    width: 40px;
    height: 40px;
    margin-left: 80px;
    margin-right: 80px;
    background-color: seagreen;
}

.head-rotated{
    width: 40px;
    height: 40px;
    background-color: black;
}

.wings div{
    width: 40px;
    height: 40px;
}

.wings{
    width: 200px;
    height: 40px;
    display:flex;
    background-color: seagreen;
}

.wings-rotated{
    width: 200px;
    height: 40px;
    display:flex;
    background-color: black;
}

.cabins div{
    width: 40px;
    height: 40px;
}

.cabins{
    width: 40px;
    height: 40px;
    margin-left: 80px;
    margin-right: 80px;
    background: seagreen;
}

.cabins-rotated{
    width: 40px;
    height: 40px;
    margin-left: 80px;
    margin-right: 80px;
    background: black;
}

.tail-plane div{
    width: 40px;
    height: 40px;
}

.tail-plane{
    margin-left:40px;
    margin-right:40px;
    width:120px;
    height: 40px;
    display:flex;
    background-color: seagreen;
}

.tail-plane-rotated{
    margin-left:40px;
    margin-right:40px;
    width:120px;
    height: 40px;
    display:flex;
    background-color: black;
}








